.container { 
    padding: 10px;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}







/* .left, .right, .mid {
    border-right: 1px solid black;
    border-left: 1px solid black;
    
} */